*{
    box-sizing: border-box;
}
.help__text{
    font-size: 12px;
    color: #f80c33ab;
    margin-left: .5rem;
    font-style: italic;
    margin-top: .5rem;
}
.help__text ul{
    list-style: none;
}