{% extends './layout/base.html' %}

{% block content %}
{% include './components/alphabet.html' %}
<section>
    <div class="container-xxl mt-3">
        <div class="row">
            <div class="col-12">
                <div class="col__wrapper shadow-1-strong">
                    <h3 class="text-center bg-primary text-white p-2 w-100 mb-0">Artist Music</h3>
                    <div class="card">
                        <h4 class="mx-3 mt-2">Artist name: {{artist_name}} </h4>
                        <div class="card-body mx-3 mb-2">
                            
                            <ol type="1" class="list-group">
                                
                                {% for music in artist_music %}

                                <li class="border-0">
                                    <a href="{% url 'music_view' music.music_name|urlencode   %}">
                                        {{music.music_name}}
                                    </a>
                                </li>
                                {% endfor %}
                                
                            </ol>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


{% endblock content %}

