{% extends './layout/base.html' %}

{% block content %}

<section class="p-3 my-3">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 d-flex justify-content-between flex-wrap">
                <button class="btn btn-danger">Search on Youtube</button>
                <button class="btn btn-info">Listen to foreign songs</button>
                <button class="btn btn-success">Local Songs</button>
                <button class="btn btn-primary">Download the songs</button>

            </div>
        </div>
    </div>
</section>

{% include './components/alphabet.html' %}

<section class="p-3 my-3">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {% for category in AlbumCategory %}
            <div class="col h-auto mb-3">
                <div class="card__wrapper h-100 ">
                    <div class="card shadow-1-strong h-100 ">
                        <h4 class="card-title m-0 bg-primary text-white text-center p-3">
                            {{category.category_name}}
                        </h4>
                        <div class="card-body m-3">
                            <ol type="1" class="list-group">
                                {% for list in category.music_list.all %}
                                <li class="border-0">
                                    <a href="{% url 'music_view' list.music_name|urlencode   %}">
                                        {{list.music_name}}
                                    </a>
                                </li>

                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}