{% extends './layout/base.html' %}

{% block content %}

<section class="p-3 my-3">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 d-flex justify-content-between flex-wrap">
                <button class="btn btn-danger">Search on Youtube</button>
                <button class="btn btn-info">Listen to foreign songs</button>
                <button class="btn btn-success">Local Songs</button>
                <button class="btn btn-primary">Download the songs</button>

            </div>
        </div>
    </div>
</section>

<section class="p-3 my-3">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
                <div class="card__wrapper">
                    <div class="card shadow-1-strong">
                        <h4 class="card-title m-0 bg-danger text-white text-center p-3">
                            New Mp3s
                        </h4>
                        <div class="card-body">
                            <ul class="list-group">

                                {% for NewMp3 in context.NewMp3 %}
                                <ol class="list-group-item border-0">
                                     <a onclick="localStorage.setItem('music_list', '{{NewMp3.upload_music.url}}')" href="{% url 'music_view' NewMp3.upload_music|cut:'NewMp3/'|cut:'.mp3' %}}">
                                        {{NewMp3.upload_music|cut:'NewMp3/'}}
                                    </a>
                                </ol>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card__wrapper">
                    <div class="card shadow-1-strong">
                        <h4 class="card-title m-0 bg-primary text-white text-center p-3">
                            Popular Music
                        </h4>
                        <div class="card-body">
                            <ol class="list-group">
                                {% for PopularMusic in context.PopularMusic %}
                                <li class="list-group-item border-0">
                                    <a onclick="localStorage.setItem('music_list', '{{PopularMusic.upload_music.url}}')"
                                        href="{% url 'music_view' PopularMusic.upload_music|cut:'PopularMusic/'|cut:'.mp3' %}}">{{PopularMusic.upload_music|cut:'PopularMusic/'}}</a>
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card__wrapper">
                    <div class="card shadow-1-strong">
                        <h4 class="card-title m-0 bg-dark text-white text-center p-3">
                            Favorite Music
                        </h4>
                        <div class="card-body">
                            <ol class="list-group">
                                {% for FavoriteMusic in context.FavoriteMusic %}
                                <li class="list-group-item border-0">
                                     <a onclick="localStorage.setItem('music_list', '{{FavoriteMusic.upload_music.url}}')"
                                        href="{% url 'music_view' FavoriteMusic.upload_music|cut:'FavoriteMusic/'|cut:'.mp3' %}}">{{FavoriteMusic.upload_music|cut:'FavoriteMusic/'}}</a>
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}