{% extends './layout/base.html' %}

{% block content %}

<section class="p-3 my-3">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 d-flex justify-content-between flex-wrap">
                <button class="btn btn-danger">Search on Youtube</button>
                <button class="btn btn-info">Listen to foreign songs</button>
                <button class="btn btn-success">Local Songs</button>
                <button class="btn btn-primary">Download the songs</button>

            </div>
        </div>
    </div>
</section>

<section class="p-3 my-3">
    <div class="container-xxl">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col">
                <div class="card__wrapper">
                    <div class="card shadow-1-strong">
                        <h4 class="card-title m-0 bg-danger text-white text-center p-3">
                            New Mp3s
                        </h4>
                        <div class="card-body">
                            <ul class="list-group">

                                {% for NewMp3 in context.NewMp3 %}
                                <li class="list-group-item border-0">
                                    {{NewMp3.id}}. <a href="{{NewMp3.upload_music.url}}">{{NewMp3.upload_music}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card__wrapper">
                    <div class="card shadow-1-strong">
                        <h4 class="card-title m-0 bg-primary text-white text-center p-3">
                            Popular Music
                        </h4>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for PopularMusic in context.PopularMusic %}
                                <li class="list-group-item border-0">
                                    {{PopularMusic.id}}. <a
                                        href="{{PopularMusic.upload_music.url}}">{{PopularMusic.upload_music}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card__wrapper">
                    <div class="card shadow-1-strong">
                        <h4 class="card-title m-0 bg-dark text-white text-center p-3">
                            Favorite Music
                        </h4>
                        <div class="card-body">
                            <ul class="list-group">
                                {% for FavoriteMusic in context.FavoriteMusic %}
                                <li class="list-group-item border-0">
                                    {{FavoriteMusic.id}}. <a
                                        href="{{FavoriteMusic.upload_music.url}}">{{FavoriteMusic.upload_music}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}