{% extends './layout/base.html' %}

{% block content %}

<section>
    <div class="container-xxl mt-3">
        <div class="row justify-content-center">
            <div class="col-11 col-md-7">
                <div class="card__wrapper shadow-1-strong w-100">
                    <div class="card">
                        <h4 class="card-title text-center p-3 text-white bg-primary">Music Player</h4>
                        <div class="card-body w-75 mx-auto">

                            {% for music in music_self_list %}
                            

                           
                            <ul class="list-unstyled">
                                <li> <strong>Music name:</strong> {{music.music_name}}</li>
                                <li> <strong>Artist name:</strong> {{music.artist_name}}</li>
                                <li> <strong>Category name:</strong> {{music.category_name}}</li>
                            </ul>
                            <div class="text-center my-3">
                                <audio src="{{music.upload_music.url}}" controls id="musicAudioPlay"></audio>
                            </div>
                            
                            <div class="justify-content-center d-flex flex-wrap my-3">
                                <a download="true" href="{{music.upload_music.url}}" class="rounded-pill  btn me-2 btn-primary" id="download__btn">
                                    <i class="fas fa-download    "></i> Download
                                </a>
                            
                                <button onclick="document.querySelector('#musicAudioPlay').play()" id="listen__btn" class="rounded-pill  btn me-2 btn-primary"> <i
                                        class="fas fa-music    "></i> Listen</button>
                                <button class="rounded-pill  btn btn-primary"> <i class="fas fa-share    "></i>
                                    Share</button>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}