<section>
    <div class="container-xxl mt-3">
        <div class="row">
            <div class="col-12">

                <div class="col__wrapper d-flex flex-wrap shadow-1-strong rounded-2">
                    <h3 class="text-center bg-primary text-white p-3 w-100 mb-0">Artist Alphabet</h3>
                    <a href="{% url 'artist_alphabet' 'get_A' %}" class="d-inline-block m-4 p-2"><span>A</span></a>
                    <a href="{% url 'artist_alphabet' 'get_B' %}" class="d-inline-block m-4 p-2"><span>B</span></a>
                    <a href="{% url 'artist_alphabet' 'get_C' %}" class="d-inline-block m-4 p-2"><span>C</span></a>
                    <a href="{% url 'artist_alphabet' 'get_D' %}" class="d-inline-block m-4 p-2"><span>D</span></a>
                    <a href="{% url 'artist_alphabet' 'get_E' %}" class="d-inline-block m-4 p-2"><span>E</span></a>
                    <a href="{% url 'artist_alphabet' 'get_F' %}" class="d-inline-block m-4 p-2"><span>F</span></a>
                    <a href="{% url 'artist_alphabet' 'get_G' %}" class="d-inline-block m-4 p-2"><span>G</span></a>
                    <a href="{% url 'artist_alphabet' 'get_H' %}" class="d-inline-block m-4 p-2"><span>H</span></a>
                    <a href="{% url 'artist_alphabet' 'get_I' %}" class="d-inline-block m-4 p-2"><span>I</span></a>
                    <a href="{% url 'artist_alphabet' 'get_J' %}" class="d-inline-block m-4 p-2"><span>J</span></a>
                    <a href="{% url 'artist_alphabet' 'get_K' %}" class="d-inline-block m-4 p-2"><span>K</span></a>
                    <a href="{% url 'artist_alphabet' 'get_L' %}" class="d-inline-block m-4 p-2"><span>L</span></a>
                    <a href="{% url 'artist_alphabet' 'get_M' %}" class="d-inline-block m-4 p-2"><span>M</span></a>
                    <a href="{% url 'artist_alphabet' 'get_N' %}" class="d-inline-block m-4 p-2"><span>N</span></a>
                    <a href="{% url 'artist_alphabet' 'get_O' %}" class="d-inline-block m-4 p-2"><span>O</span></a>
                    <a href="{% url 'artist_alphabet' 'get_P' %}" class="d-inline-block m-4 p-2"><span>P</span></a>
                    <a href="{% url 'artist_alphabet' 'get_Q' %}" class="d-inline-block m-4 p-2"><span>Q</span></a>
                    <a href="{% url 'artist_alphabet' 'get_R' %}" class="d-inline-block m-4 p-2"><span>R</span></a>
                    <a href="{% url 'artist_alphabet' 'get_S' %}" class="d-inline-block m-4 p-2"><span>S</span></a>
                    <a href="{% url 'artist_alphabet' 'get_T' %}" class="d-inline-block m-4 p-2"><span>T</span></a>
                    <a href="{% url 'artist_alphabet' 'get_U' %}" class="d-inline-block m-4 p-2"><span>U</span></a>
                    <a href="{% url 'artist_alphabet' 'get_V' %}" class="d-inline-block m-4 p-2"><span>V</span></a>
                    <a href="{% url 'artist_alphabet' 'get_W' %}" class="d-inline-block m-4 p-2"><span>W</span></a>
                    <a href="{% url 'artist_alphabet' 'get_X' %}" class="d-inline-block m-4 p-2"><span>X</span></a>
                    <a href="{% url 'artist_alphabet' 'get_Y' %}" class="d-inline-block m-4 p-2"><span>Y</span></a>
                    <a href="{% url 'artist_alphabet' 'get_Z' %}" class="d-inline-block m-4 p-2"><span>Z</span></a>
                </div>
            </div>
        </div>
    </div>
</section>